---
layout: default
title: Possible Master's projects with Asad Sayeed
---
<div class="blurb">
  <h1>Possible Master's projects</h1>
	<p>Contents:
	<ul>
		{% for tpc in site.mastersprojects %}
		<li><a href="#{{ tpc.id }}">{{ tpc.title }}</li>
		{% endfor %}
	</ul>
	</p>
	{% for tpc in site.mastersprojects %}
		<h2><a name="{{ tpc.id }}">{{ tpc.title }}</a></h2>

		<div class="topic">
  			{{ tpc.content }}
			<p class="urllink"><a href="{{ tpc.url }}">link to separate project page</a></p>
		</div>
	{% endfor %}
</div><!-- /.blurb -->
