<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://www.gu.se/en/about/find-staff/asadsayeed">About</a></li>
	        		<li><a href="https://scholar.google.com/citations?hl=en&user=mcQ2aj8AAAAJ&view_op=list_works&sortby=pubdate">Publications</a></li>
	        		<!--<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
				<li>Asad B. Sayeed, Senior Lecturer (aka Assoc. Prof.), University of Gothenburg, Sweden</li><br/>
	        		<li>Email: asad DOTTIEMCDOT sayeed@gu DOTTIEMCDOT se (replace DOTTIEMCDOT with the obvious)</li>
	        		<!-- <li><a href="https://github.com/asayeed">github.com/asayeed</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
