<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
		</head>
		<body>
			<nav>
	    		<ul>
	        		<li><a href="/">Home</a></li>
		        	<li><a href="https://clasp.gu.se/about/people/asad-sayeed">About</a></li>
	        		<li><a href="http://www.coli.uni-saarland.de/~asayeed/">CV/Publications</a></li>
	        		<!--<li><a href="/blog">Blog</a></li> -->
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    		<ul>
	        		<li><a href="mailto:asad.sayeed@gu.se">email</a></li>
	        		<!-- <li><a href="https://github.com/asayeed">github.com/asayeed</a></li> -->
				</ul>
			</footer>
		</body>
	</html>
